html, *, body {
  width: 100%;
  margin: 0;
  box-sizing: border-box; }

.slapper {
  display: inline-block;
  width: 30%;
  border: 2px solid red; }
  .slapper__head {
    width: 350px;
    height: 350px;
    border: 2px solid red;
    margin: 1rem auto; }

.board {
  display: inline-block;
  width: 50%; }

.upgrades {
  display: inline-block;
  width: 19%; }
