$slapper-width: 30%;

.slapper {
    display: inline-block;
    width: $slapper-width;
    border: 2px solid red;
    position: relative;
    height: 100vh;

    &__info {
        text-align: center;
        z-index: 100;
        margin: 4rem 0;
    }

    &__head {
        width: 350px;
        height: 350px;
        border: 2px solid red;
        margin: 4rem auto;
    }
}